@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff8f0;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 40px;
}


.container {
  width: 100%;
  max-width: 800px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}


.header {
  background-color: #ffe9b0;
  padding: 30px 20px;
  text-align: center;
}

.header h1 {
  font-size: 2.2rem;
  color: #ff9900;
  text-shadow: 1px 1px 2px rgba(255, 153, 0, 0.3);
}

.body {
  padding: 30px 20px;
  text-align: center;
}

.body h2 {
  font-size: 1.8rem;
  color: #444;
  margin-bottom: 15px;
}

.image {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  margin: 10px 0 20px 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.info-card {
  background-color: #f0be54;
  border-left: 5px solid #ff771c;
  padding: 15px 20px;
  margin: 20px auto;
  text-align: left;
  width: 80%;
  border-radius: 8px;
}

.info-card h3 {
  margin-bottom: 10px;
  color: #f32509;
}

.info-card ul {
  list-style: disc;
  margin-left: 20px;
}


.body p {
  font-size: 1.1rem;
  color: #555;
}

.footer {
  background-color: #f07777;
  text-align: center;
  padding: 15px;
  border-top: 1px solid #ffe0a3;
}

.footer h5 {
  color: #777;
  font-weight: normal;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 1.7rem;
  }

  .body {
    padding: 25px 15px;
  }

  .body h2 {
    font-size: 1.5rem;
  }

  .btn {
    width: 80%;
  }

  .info-card {
    width: 95%;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 1.4rem;
  }

  .footer h5 {
    font-size: 0.85rem;
  }
}